<div class="contact-details">
  <img src="https://robohash.org/{{ contact.name }}" alt="" />
  <h2>Name: {{ contact.name }}</h2>
  <h2>Phone: {{ contact.phone }}</h2>
  <h2>Email: {{ contact.email }}</h2>
  <!-- <transfer-fund
        [contact]="contact"
        [userBalance]="user.balance"
      ></transfer-fund> -->
  <div class="btn-section">
    <a routerLink="/contact" class="simple-button"> Back </a>
    <a routerLink="/contact/edit/{{ contact._id }}" class="simple-button">
      Edit
    </a>
  </div>
  <!-- <move-list moves={user.moves} toId={contact._id} ></move-list> -->
</div>
