header {
  background-color: $clr1;
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $clr5;
    .logo {
      cursor: pointer;
    }
    nav {
      display: flex;
      gap: 0.5rem;
      a {
        padding: 0.5rem 1rem;
      }
      a.active {
        border-bottom: 2px solid $clr5;
      }
      a:hover {
        color: cornsilk;
      }
    }
  }
  a:hover {
    text-decoration: none;
  }
}
