.contact-list {
  height: 100%;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    h1 {
      flex-basis: 100%;
      text-align: center;
    }
    a {
      color: #fff;
      background-color: #333;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
    }
  }
  ul {
    margin: 0;
    margin-top: 1rem;
    list-style: none;
    li {
      cursor: pointer;
      background-color: rgb(193, 193, 193);
      padding: 0.5rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      button {
        opacity: 0;
        pointer-events: none;
      }
      &:hover {
        button {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
